AWS_ACCESS_KEY_ID=SUA_ACCESS_KEY_AQUI
AWS_SECRET_ACCESS_KEY=SUA_SECRET_KEY_AQUI
AWS_REGION=us-east-1
S3_BUCKET_NAME=nome_do_seu_bucket_aqui

DB_HOST=localhost
DB_PORT=5432
DB_NAME=cvm_analytics
DB_USER=postgres
DB_PASSWORD=sua_senha_aqui